$bg-dark: #160040;
$bg-dark-light: #160040e6;

$white: #ffffff;
$white-soft: #f8f8f8;
$white-mute: #f2f2f2;

$black: #181818;
$black-soft: #1F1D36;
$black-mute: #282828;

$light-grey: rgba(235, 235, 235, 0.64);

$red: #ec5757;
$purple: #7c5dfa;
$dark-purple: #252945;
$green: #33d69f;
$orange: #ff8f00;
